/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/***************************************************************
General styling
***************************************************************/

body {
  background-color: #58595B;
}

.background-image img {
	width: 100%;
}

.page-content {
	box-shadow:1px 0 5px -4px #333333, -1px 0 5px -4px #333333;
	margin: 0 5%;
}

.page-content header {
	background-color: #58595B;
}

.page-content header a{
	color: #D1D3D4;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	text-decoration: none;
}

.page-content header img {
	width: 35%;
	margin: 1%;
}

.page-content header ul li {
	display: inline;
	padding: 0 2%;
}

.page-content .nav-links {
	float: right;
	padding: 4.5%;
	text-align: right;
	width: 50%;
}

.page-content footer {
	background-color: #252525;
	color: #747474;
	font-family: sans-serif;
	font-size: .85em;
	padding: 2%;
	width: 100%;
}

.nav-links a.selected, .nav-links a:hover {
	color: #F5CD28;
}

/***************************************************
Portfolio styling
***************************************************/

.portfolio {
	background-color: #D1D3D4;
	width: 100%;
}

.porfolio img {
	display: inline-block;
}

.left-column {
	width: 31.333333%;
	padding: 1%;
}

.middle-column {
	width: 31.333333%;
	padding: 1%;
}

.right-column {
	width: 31.333333%;
	padding: 1%;
}

/***************************************************
About page styling
***************************************************/

.about-page {
	font-family: sans-serif;
}

.about-page img{
	width: 100%;
}

/***************************************************
Brief Summary section styling
***************************************************/

.brief-summary {
	float: right;
	background-color: #F5CD28;
	width:50%;
	padding: 5%;
}

.brief-summary h3 {
	font-size: 1.25em;
	font-weight: 500;
}

.brief-summary p {
	color: #000000;
	font-size: .80em;
	line-height: 23px;
	padding: 2% 0;
}

.canvas-box {
	background-color: #3B3C3D;
	color: #FFFFFF;
	float: left;
	width: 50%;
	height: 300px;
}

/***************************************************
Social Media section styling
***************************************************/

.social-network-info {
	background-color: #FFFCFC;
	float: left;
	width: 50%;
}

.social-network-info h3 {
	color: #444444;
	font-size: 1.25em;
	font-weight: 500;
	padding-left: 5%;
	padding-top: 5%;

}

.social-network-info p {
	color: #676767;
	font-size: .80em;
	line-height: 23px;
	padding: 5%;
}

.social-link {
	background-color: #F5CD2A;
	color: #FFFCFC;
	display: inline-block;
	font-size: .95em;
	margin-left: 5%;
	margin-right: 1%;
	padding: 3% 5%;
}

.social-link:hover {
	opacity: .8;
}

/***************************************************
Company logos section styling
***************************************************/

.companies {
	background-color: #939598;
	float: right;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 50%;
}

/***************************************************
Contact page styling
***************************************************/

.contact-info-page {
	background-color: #939598;
	font-family: sans-serif;
}

.contact-form {
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 2%;
	width: 50%;
	margin: 5% 3% 10% 3%;
}

.contact-form .contact-message {
	width: 100%;
	height: 250px;
}

.contact-form .form-input {
	font-size: .85em;
	padding: 2%;
	margin-bottom: 4%;
	width: 100%;
}

.contact-form .form-label {
	font-size: .90em;
}

.contact-form .send-button {
	background-color: #333333;
	color: #FFF;
	font-size: .70em;
	margin-top: 5%;
	text-align: center;
	width: 10%;
	padding: 2%;
}

.contact-us-description {
	color: #FFF;
	padding: 3%;
	width: 40%;
}

.contact-us-description h3 {
	font-size: 1.25em;
}

.contact-us-description p {
	margin: 6% 0;
	font-size: .90em;
}

.contact-us-description .address-info {
	margin: 6% 0;
	font-size: .90em;
	float: left;
}

.contact-us-description .phone-info {
	margin: 6% 0;
	font-size: .90em;
	float: right;
}

.contact-us-description img {
	width: 100%;
}

/***************************************************
Media Queries
***************************************************/
